html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}

body::-webkit-scrollbar {
  display: none;
}